{% extends 'base.html' %}
{%block content%}
<div class="container mt-5">
    <h1>Write</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-5">
            <label class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        
        <div class="mb-3 ">
            <label class="form-label">Writer</label>
            <input type="text" name="writer" class="form-control" id="exampleInputPassword1" disabled value="{{user.username}}">
        </div>

        <div class="mb-3 ">
            <label class="form-label">Content</label>
            <textarea name="content" class="form-control" ></textarea>
        </div>


        <button type="submit" class="btn btn-primary">WRITE</button>
    </form>

</div>


{%endblock%}